@model UpdateAppointmentDTO
@{
    Layout = "_Layout";
}

<form asp-action="Update" asp-controller="Appointment" method="post">
    <div>
        <input style="display:none;" class="form-control" asp-for="@Model.AppointmentID">
        <input style="display:none;" class="form-control" asp-for="@Model.StartDate">
        <input style="display:none;" class="form-control" asp-for="@Model.EndDate">
        <input style="display:none;" class="form-control" asp-for="@Model.PatientId">
        <input style="display:none;" class="form-control" asp-for="@Model.DoctorId">
        <input style="display:none;" class="form-control" asp-for="@Model.IsClosedByDoctor">
        <input style="display:none;" class="form-control" asp-for="@Model.IsCancelled">
    </div>
    <div class="mb-3">
        <label class="form-label">Açıklama : </label>
        <input class="form-control" asp-for="@Model.Description">
    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Gönder</button>
        <button asp-action="ListPatient" asp-controller="Appointment" class="btn btn-danger">İptal</button>
    </div>
</form>